.cart-no{
    position: absolute;
    top: -12px;
    right: 35px;
    background-color: rgb(23, 209, 23);
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    color: white;
    text-align: center;
}